/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body {
	background-color: #cccccc;
}
#main_container {
	padding-top: 1%;
}
.col_centered {
	float: none;
	margin: 0 auto;
}
/*********************
======Background======
**********************/
#background {
	border-width: 1px;
	border-style: solid;
	padding: 10px 10px;
	box-shadow: 10px 10px 5px #999999;
	transition: background ease-in-out 1s;
}
/*Preload background images */
#background:after {
	display: none;
	content:
		url("../images/weather_bg/rainstorm.jpg")
		url("../images/weather_bg/clear_day.png")
		url("../images/weather_bg/clear_night.png")
		url("../images/weather_bg/fewClouds_day.png")
		url("../images/weather_bg/fewClouds_night.png")
		url("../images/weather_bg/cloudy_day.png")
		url("../images/weather_bg/cloudy_night.png")
		url("../images/weather_bg/rainy_day.png")
		url("../images/weather_bg/rainy_night.png")
		url("../images/weather_bg/thunderstorm.png")
		url("../images/weather_bg/snow_day.png")
		url("../images/weather_bg/snow_night.png")
		url("../images/weather_bg/mist.png");
}
.default_bg {
	background: url("../images/weather_bg/rainstorm.jpg") no-repeat;
}
.clearDay_bg {
	background: url("../images/weather_bg/clear_day.png") no-repeat;
}
.clearNight_bg {
	background: url("../images/weather_bg/clear_night.png") no-repeat;
}
.fewCloudsDay_bg {
	background: url("../images/weather_bg/fewClouds_day.png") no-repeat;
}
.fewCloudsNight_bg {
	background: url("../images/weather_bg/fewClouds_night.png") no-repeat;
}
.cloudyDay_bg {
	background: url("../images/weather_bg/cloudy_day.png") no-repeat;
}
.cloudyNight_bg {
	background: url("../images/weather_bg/cloudy_night.png") no-repeat;
}
.rainyDay_bg {
	background: url("../images/weather_bg/rainy_day.png") no-repeat;
}
.rainyNight_bg {
	background: url("../images/weather_bg/rainy_night.png") no-repeat;
}
.thunderstorm_bg {
	background: url("../images/weather_bg/thunderstorm.png") no-repeat;
}
.snowDay_bg {
	background: url("../images/weather_bg/snow_day.png") no-repeat;
}
.snowNight_bg {
	background: url("../images/weather_bg/snow_night.png") no-repeat;
}
.mist_bg {
	background: url("../images/weather_bg/mist.png") no-repeat;
}
/****************
======Title======
*****************/
#title {
	text-align: center;
	color: #fff;
}

/************************
======Zipcode Input======
*************************/
#zipcode {

}
#zipcode div {
	padding: 0;
}
.zipcode_input {
	width: 75%;
	height: 50px;
	float: left;
	border-radius: 0;
}
#find_button {
	width: 25%;
	height: 50px;
	border-radius: 0;
}

/******************
------Popover------
*******************/
.popover {
	border: none;
}
.popover-content {
	background-color: coral;
	color: #FFFFFF;
	padding: 5px !important;
}
.arrow:after {
	border-bottom-color: coral !important;
}
/***********************
======Weather Info======
************************/
#weather_info {
	height: 587px;
	margin-top: 10px;
	padding-top: 10px; 
	text-align: center;
	overflow: auto;
}
#weather_row .col_centered {
	padding: 10px 10px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
}

.weather_row .col_centered {
	padding: 10px 10px;
	overflow: hidden;
	background-color: rgba(95, 11, 11, 0.75);
	color: #fff;
}
#weather_col {
	line-height: 5px;
}
#forecast_col {
	padding: 10px 0;
	position: relative;
	top: 20px;
	line-height: 20px;
}
#forecast .col_centered {
	display: inline-block;
	float: none;
}
.forecast_col {
	width: 125px;
	margin: 10px 10px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
}
.forecast_col p {
	line-height: 12px;
}
/********************
------Scrollbar------
*********************/
.custom_scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.custom_scrollbar::-webkit-scrollbar
{
	width: 7px;
}
.custom_scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}
